@import url(http://fonts.googleapis.com/css?family=Signika:400,300);

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrapperIndex {
	text-align: center;
	padding: 10px;
}

.boxIndex {
	display: inline-block;
	margin: 10px;
	position: relative;
	/* you need to specify a hard height or width */
	height: 400px;
	width: 400px;
	/* this is just here so you can see where the box boundaries are */
	background: antiqueWhite;
}

.pictureIndex {
	position: absolute;
	width: 100%;
	/* this is advanced CSS shit right here */
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.pictureIndex img {
	max-width: 100%;
}

.wrapper {
	overflow: hidden;
}

.box {
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 100%;

}

.picture {
	position: absolute;
	overflow: hidden;
}

.picture img {
	max-height: 100%;
}
