@import url(http://fonts.googleapis.com/css?family=Signika:400,300);

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
}

h1, h2, h3, p {
	width: 95%;
	margin: 0 auto;
}

.navbar {
	display: block;
}

.navbar ul{
	bottom: .1em;
	padding-left: 0px;
	text-align: center;
	margin: 2% 0;
}

.navbar li{
	display: inline-block;
	text-align: center;
}

.navbar a{
	line-height: 30px;
	margin-left: 5px;
	margin-right: 5px;
	color: #8e8e8e;
	text-decoration: none;
}

.navbar a:hover{
	color: rgb(72, 72, 72);
}
.navbar li:hover{
	background-color: rgb(246, 246, 246);
}

.boxIndex {
	float: left;
	position: relative;
	width: 50%;
	padding-bottom: 37.5%;
}

.pictureIndex {
	position: absolute;
	overflow: hidden;
	top: 2%;
	right: 2%;
	bottom: 2%;
	left: 2%;
}

.pictureIndex img {
	max-height: 100%;
}

.caption {
	position: absolute;
	top: 60%;
	opacity: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #000ccc;
}

.boxIndex:hover .caption{
	opacity: 1;
	font-size: 200%;
}

.boxIndex:hover .pictureIndex img{
	opacity: .30;
}

.box {
	width: 75%;
	height: auto;
	margin-bottom: 2%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.picture img {
	max-width: 100%;
	max-height: 100%;
}

.boxJumbotron {
	width: 100%;
	margin: 5% 0;
}

.jumbotron img {
	max-width: 100%;
	max-height: 75%;
	position: relative;

}

.caption {
	position: absolute;
	top: 30%;
	opacity: 0;
	text-align: center;
	width: 100%;
	height: 100%;
}

.jumbotron:hover .caption {
	opacity: 1;
	font-size: 200%;
}

.jumbotron:hover img {
	opacity: .55;
