@import url(http://fonts.googleapis.com/css?family=Signika:400,300);

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.wrapper {
	overflow: hidden;
}

.box {
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	
}

.picture {
	position: absolute;
	overflow: hidden;
}

.picture img {
	max-width: 100%;
	/*max-height: 100%;*/
}