
body{
	width: 960px;
	margin: auto;
	}

.product {
  min-height:250px;
}

.product img {
  float:left;
}

.navbar {
	margin: 0;
	margin: auto;
	text-align: center;
}

li {
	text-decoration: none;
	display: inline;
}

.description {
	display: none;
}